@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
list-style: none;
}
a{
    text-decoration: none;
}
hr{
    width:80%
}
li,a {
    color: grey
    
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;

}
.logo {
    margin-right: auto;
    width: 170px;
   
}
.nav-list {
    display:flex;
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;

}


.nav-list li{
    display: flex;
    
    align-items: center;

}


.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
  justify-content:space-between;
  align-items: center;
  margin-left: 50px;
  
  font-size: 22px;
  font-weight: 700;
  color: #212121;
  

}


.image-section{
   display:inline-flexbox;
   justify-content:space-between;
   align-items:flex-end;
   margin-top: 50px;

   
}
.image-section img{
    margin-right:150px;
    border-radius: 50%;
}
.text-1{
    margin-top:30px;
   font-weight: 800;
   font-size:17px;
   color: grey;
   line-height: 25px;
}
.text-2 {
   justify-content:center;
   align-items:flex-end;
   margin: 0px 60px;
   line-height: 15px;
   font-size: 15px;
}
.text-3{
    display: flex;
   margin-top: 50px;
    color: #212121;
    font-weight: 900;
    font-size: 16px;
}
.button{
   justify-content: space-between;
    margin-top: 50px;
    background-color: #0066ff;
    color:aliceblue;
    padding:15px 15px;
    border-radius: 3px;
    margin-left: 20px;
    text-align: center;
    border: none;
    display: inline-block;
    font-size:18px;

    white-space: nowrap;

}
.button-text{
    display: flex;
    justify-content: center;
    margin: 5px 5px;
    align-items: center;
    
}
.form{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    margin-left: 10%;
    flex: shrink 0;
    box-sizing: border-box;
    padding-top: 50px;
    white-space: nowrap;
    border: black;
}
input{
    width: 300px;
    border: none;

}